services:
  wireguard:
    extends:
      file: docker-compose.base.yml
      service: base
    hostname: wireguard.antizapret
    image: xtrime/antizapret-vpn-wireguard:5
    build:
      context: .
      args:
        - IMAGE=ghcr.io/wg-easy/wg-easy:14
      x-bake:
        platforms:
          - linux/amd64
          - linux/arm64
    ports:
      - "51820:51820/udp"
      - "51821:51821/tcp"
    environment:
      - WG_CONFIG_PORT=51820
      - WG_DEFAULT_ADDRESS=10.1.166.x
    volumes:
      - $PWD/config/wireguard:/etc/wireguard

  wireguard-amnezia:
    extends:
      file: docker-compose.base.yml
      service: base
    hostname: wireguard-amnezia.antizapret
    image: xtrime/antizapret-vpn-wireguard-amnezia:5
    build:
      context: .
      args:
        - IMAGE=xtrime/amnezia-wg-easy:0.2.15
      x-bake:
        platforms:
          - linux/amd64
    ports:
      - "51830:51820/udp"
      - "51831:51821/tcp"
    environment:
      - WG_CONFIG_PORT=51830
      - WG_DEFAULT_ADDRESS=10.1.167.x
      - |
        ROUTES=
        openvpn:10.1.165.0/24;
        wireguard:10.1.166.0/24;
        wireguard-amnezia:10.1.167.0/24;
        adguard:10.224.0.1;
        az-local:10.224.0.0/15;
        az-world:10.226.0.0/15;
    devices:
      - /dev/net/tun:/dev/net/tun
    volumes:
      - $PWD/config/wireguard_amnezia:/etc/wireguard
