networks:
  default:
    driver: bridge
    ipam:
      config:
        - subnet: 10.200.0.0/24

services:
  az-local:
    hostname: az-local.antizapret
    extends:
      file: services/antizapret/docker-compose.yml
      service: antizapret
    deploy:
      mode: global
      endpoint_mode: dnsrr
      placement:
        constraints: [ node.labels.location == local ]
    environment:
      - CLIENT=az-local
      - AZ_SUBNET=10.224.0.0/15
  az-world:
    hostname: az-world.antizapret
    extends:
      file: services/antizapret/docker-compose.yml
      service: antizapret
    deploy:
      mode: global
      endpoint_mode: dnsrr
      placement:
        constraints: [ node.labels.location == world ]
    environment:
      - CLIENT=az-world
      - AZ_SUBNET=10.226.0.0/15
      - DOALL_DISABLED=1
  adguard:
    extends:
      file: services/adguard/docker-compose.yml
      service: adguard
  coredns:
    extends:
      file: services/coredns/docker-compose.yml
      service: coredns

