services:
  antizapret:
    environment:
      - ADGUARDHOME_USERNAME=admin
      - ADGUARDHOME_PASSWORD=password

  # cloak:
  #   extends:
  #     file: services/cloak/docker-compose.yml
  #     service: cloak

  dashboard:
    extends:
      file: services/dashboard/docker-compose.yml
      service: dashboard
    environment:
      - DASHBOARD_USERNAME=admin
      - DASHBOARD_PASSWORD=password

  filebrowser:
    extends:
      file: services/filebrowser/docker-compose.yml
      service: filebrowser
    environment:
      - FILEBROWSER_USERNAME=admin
      - FILEBROWSER_PASSWORD=password

  # ipsec:
  #   extends:
  #     file: services/ipsec/docker-compose.yml
  #     service: ipsec

  openvpn:
    extends:
      file: services/openvpn/docker-compose.yml
      service: openvpn

  openvpn-ui:
    extends:
      file: services/openvpn/docker-compose.yml
      service: openvpn-ui
    environment:
      - OPENVPN_ADMIN_PASSWORD=password

  # wireguard:
  #   extends:
  #     file: services/wireguard/docker-compose.yml
  #     service: wireguard
  #   environment:
  #     - WIREGUARD_PASSWORD=password

  wireguard-amnezia:
    extends:
      file: services/wireguard/docker-compose.yml
      service: wireguard-amnezia
    environment:
      - WIREGUARD_PASSWORD=password

  proxy:
    extends:
      file: services/proxy/docker-compose.yml
      service: proxy
    environment:
      # If not set, will be created and used self-signed certificate
      - PROXY_DOMAIN=
      # If not set, will be created and used self-signed certificate
      - PROXY_EMAIL=
