services:
  wireguard:
    environment:
      - WG_DEFAULT_DNS=10.224.0.1
      - WG_PERSISTENT_KEEPALIVE=25
      - PORT=51821
      - WG_PORT=51820
    image: ghcr.io/wg-easy/wg-easy
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./config/wireguard:/etc/wireguard
      - ./wireguard/entrypoint.sh:/entrypoint.sh
      - ./config/antizapret/result:/opt/antizapret/result
    command: /entrypoint.sh
    ports:
      - 51820:51820/udp
      - 51821:51821/tcp
    restart: unless-stopped
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    sysctls:
      - net.ipv4.ip_forward=1
      - net.ipv4.conf.all.src_valid_mark=1
    logging:
      driver: "json-file"
      options:
        max-size: "100k"
        max-file: "2"
    healthcheck:
      test: cmp /app/blocked-ranges-with-include.txt /opt/antizapret/result/blocked-ranges-with-include.txt || sh -c 'kill -INT -1 && (sleep 5; kill -s 9 -1)'
      interval: 60s
      timeout: 30s
      retries: 1
    depends_on:
      - antizapret-vpn
      