networks:
  default:
    driver: bridge
    ipam:
      config:
        - subnet: 10.200.0.0/24

services:
  antizapret:
    extends:
      file: services/antizapret/docker-compose.yml
      service: antizapret
  adguard:
    extends:
      file: services/adguard/docker-compose.yml
      service: adguard
  coredns:
    extends:
      file: services/coredns/docker-compose.yml
      service: coredns

