services:
  adguard:
    image: xtrime/antizapret-vpn-adguard:5
    build: 
      context: .
      x-bake:
        platforms:
          - linux/amd64
          - linux/arm64
    hostname: adguard.antizapret
    restart: unless-stopped
    cap_add:
      - NET_ADMIN
    sysctls:
      - net.ipv4.ip_forward=1
      - net.ipv4.conf.all.src_valid_mark=1
    healthcheck:
      test: /root/healthcheck.sh
      interval: 5s
      timeout: 1m
      start_period: 1m
    logging:
      driver: json-file
      options:
        max-size: 100k
        max-file: 2
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - $PWD/config/antizapret/result:/root/antizapret/result
      - $PWD/config/adguard/conf:/opt/adguardhome/conf
      - $PWD/config/adguard/work:/opt/adguardhome/work
      - ./entrypoint.sh:/root/entrypoint.sh
    ports:
      - "3000:3000/tcp"
    deploy:
      mode: replicated
      replicas: 1
      endpoint_mode: dnsrr
      placement:
        constraints: [ node.labels.location == local ]
    depends_on:
      - coredns
      - az-local
    environment:
      - |
        ROUTES=
        openvpn:10.1.165.0/24;
        wireguard:10.1.166.0/24;
        wireguard-amnezia:10.1.167.0/24;
        adguard:10.224.0.1;
        az-local:10.224.0.0/15;
        az-world:10.226.0.0/15;
      - ADGUARDHOME_PORT
      - ADGUARDHOME_USERNAME
      - ADGUARDHOME_PASSWORD
