[Unit]
Description=Adguard
After=network-online.target
Wants=network-online.target
StartLimitIntervalSec=0

[Service]
WorkingDirectory=/opt/adguardhome/work
ExecStart=/opt/adguardhome/AdGuardHome -w /opt/adguardhome/work -c /opt/adguardhome/conf/AdGuardHome.yaml
EnvironmentFile=/etc/default/antizapret
User=root
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
