[Unit]
Description=antizapret-vpn update
After=network-online.target
Wants=network-online.target

[Service]
WorkingDirectory=/root/antizapret
ExecStart=/usr/bin/doall
EnvironmentFile=/etc/default/antizapret

[Install]
WantedBy=multi-user.target
