[Unit]
Description=dnsmap
After=network.target

[Service]
ExecStart=/root/antizapret/dnsmap.py -a 127.0.0.4 --iprange 10.224.0.0/15
EnvironmentFile=/etc/default/antizapret

[Install]
WantedBy=multi-user.target