services:
  antizapret:
    image: xtrime/antizapret-vpn:5
    restart: unless-stopped
    stop_signal: SIGRTMIN+4
    init: true
    cap_add:
      - NET_ADMIN
    sysctls:
      - net.ipv4.ip_forward=1
      - net.ipv4.conf.all.src_valid_mark=1
    build: 
      context: .
      x-bake:
        platforms:
          - linux/amd64
          - linux/arm64
    logging:
      driver: json-file
      options:
        max-size: 100k
        max-file: 2
    healthcheck:
      test: /healthcheck.sh
      interval: 30s
      timeout: 10s
      retries: 1
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - $PWD/config/antizapret/custom:/root/antizapret/config/custom
      - $PWD/config/antizapret/result:/root/antizapret/result
      - $PWD/config/adguard/conf:/opt/adguardhome/conf
      - $PWD/config/adguard/work:/opt/adguardhome/work
#    dns:
#      - 8.8.8.8
    environment:
      - |
        ROUTES=
        openvpn:10.1.165.0/24;
        wireguard:10.1.166.0/24;
        wireguard-amnezia:10.1.167.0/24;
        adguard:10.224.0.1;
        az-local:10.224.0.0/15;
        az-world:10.226.0.0/15;
      - DNS=adguard
      - CLIENT
      - DOALL_DISABLED
