.:53 {
    log
    errors

    # Forward plugin with strict failover
    forward . ${AZ_WORLD_HOST} ${AZ_LOCAL_HOST} ${DNS_HOST} {
        policy sequential
        prefer_udp
        failover SERVFAIL
    }

    reload 2s
}



