.:53 {
    log
    errors

    # Forward plugin with strict failover
    forward . ${AZ_FORWARD_HOSTS} {
        policy sequential
        prefer_udp
        failover SERVFAIL
        max_fails 0
    }
    finalize force_resolve

    reload 2s
}
