services:
  coredns:
    image: xtrime/antizapret-vpn-coredns:5
    hostname: coredns.antizapret
    restart: unless-stopped
    build: 
      context: .
      x-bake:
        platforms:
          - linux/amd64
          - linux/arm64
    logging:
      driver: json-file
      options:
        max-size: 100k
        max-file: 2
    volumes:
      - /etc/localtime:/etc/localtime:ro
    deploy:
      replicas: 1
      placement:
        constraints: [ node.labels.location == local ]
    depends_on:
      - az-local
      - az-world
